<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Automation Configurations-->
    
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="nirav"/>
    <add key="Password" value="Pass@2021"/>
    <add key="Website" value="http://qa.accolenterp.solutions/AccolentQA11.0.0.0/login.aspx"/>
    <add key="PageLoadTimeout" value="60"/>
    <add key="ElementLoadTimeout" value="5"/>
  
  </appSettings>
</configuration>